In [4]:
# read in the file
file = open("puzzle_input/puzzle_2.txt")
input = file.readlines()
print(input[0:3])

['Game 1: 1 green, 1 blue, 1 red; 1 green, 8 red, 7 blue; 6 blue, 10 red; 4 red, 9 blue, 2 green; 1 green, 3 blue; 4 red, 1 green, 10 blue\n', 'Game 2: 9 red, 7 green, 3 blue; 15 green, 2 blue, 5 red; 10 red, 3 blue, 13 green\n', 'Game 3: 3 red, 1 blue, 4 green; 6 red, 3 green, 2 blue; 6 red, 16 blue, 1 green\n']

In [5]:
#max values: 12 red cubes, 13 green cubes, and 14 blue cubes
max_red = 12
max_green = 13
max_blue = 14

In [6]:
# per game, create a list with extracted cube subsets
import re
list_input = [re.findall(r'(\d+ (?:red|green|blue))', i) for i in input]
list_input[0:3]

[['1 green',
  '1 blue',
  '1 red',
  '1 green',
  '8 red',
  '7 blue',
  '6 blue',
  '10 red',
  '4 red',
  '9 blue',
  '2 green',
  '1 green',
  '3 blue',
  '4 red',
  '1 green',
  '10 blue'],
 ['9 red',
  '7 green',
  '3 blue',
  '15 green',
  '2 blue',
  '5 red',
  '10 red',
  '3 blue',
  '13 green'],
 ['3 red',
  '1 blue',
  '4 green',
  '6 red',
  '3 green',
  '2 blue',
  '6 red',
  '16 blue',
  '1 green']]

In [7]:
# create list for each color
list_red = [re.findall(r'(\d+)(?= red)', i) for i in input]
list_blue = [re.findall(r'(\d+)(?= blue)', i) for i in input]
list_green = [re.findall(r'(\d+)(?= green)', i) for i in input]
# convert to integers
list_red_clean = [[int(j) for j in i] for i in list_red]
list_blue_clean = [[int(j) for j in i] for i in list_blue]
list_green_clean = [[int(j) for j in i] for i in list_green]

list_red_clean[0:3]

[[1, 8, 10, 4, 4], [9, 5, 10], [3, 6, 6]]

In [19]:
# return T if all values are smaller than max value
def check(list1, val):
    return(all(x <= val for x in list1))

# check check fun
print(check(list_red_clean[0], max_red)) # should be T
print(check(list_red_clean[3], max_red)) # should be F

True
False

In [21]:
check_red = [check(i, max_red) for i in list_red_clean]
check_blue = [check(i, max_blue) for i in list_blue_clean]
check_green = [check(i, max_green) for i in list_green_clean]
check_red[0:4]

[True, True, True, False]

In [17]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {'red': check_red,
     'blue': check_blue,
     'green': check_green
    })
df["eval"] = np.where((df["red"] == True) & (df["blue"] == True) & (df["green"] == True), True, False)
df.head()

     red   blue  green   eval
0   True   True   True   True
1   True   True  False  False
2   True  False   True  False
3  False  False  False  False
4   True   True   True   True

In [12]:
# get index
indexes = df.index[df['eval']].tolist()
# +1 to get nr of game
game_nrs = [i+1 for i in indexes]
# sum
sum(game_nrs)

3035

# Second puzzle

In [13]:
# what is the max value of a color in each game?
list_max_red = [max(i) for i in list_red_clean]
list_max_blue = [max(i) for i in list_blue_clean]
list_max_green = [max(i) for i in list_green_clean]
list_max_red[0:3]

[10, 10, 6]

In [14]:
df2 = pd.DataFrame(
    {'red': list_max_red,
     'blue': list_max_blue,
     'green': list_max_green
    })
df2.head()

   red  blue  green
0   10    10      2
1   10     3     15
2    6    16      4
3   20    18     16
4    6    14     10

In [15]:
# add power variable
df2["power"] = df2["red"] * df2["blue"] * df2["green"]
df2.head()

   red  blue  green  power
0   10    10      2    200
1   10     3     15    450
2    6    16      4    384
3   20    18     16   5760
4    6    14     10    840

In [16]:
# get sum
sum(df2["power"])

66027